body{
    background-image: url(https://i.pinimg.com/originals/70/3a/30/703a30dec77ebeb993cb5a0a852653d9.jpg);
}

.box{
    background-color: rgb(187, 162, 182);
    border-radius: 20px;
}

.submit{
    align-content: center;
}

.input{
    text-align: center;
    align-content: center;
}